<section class="bandeau">
    <img class="bandeau-img" src="/images/agrumes.png" alt="agrumes" srcset="">
    <img class="bandeau-img" src="/images/oeufs.png" alt="lait" srcset="">
    <img class="bandeau-img" src="/images/legumes.png" alt="légumes" srcset="">
    <img class="bandeau-img" src="/images/champignons.png" alt="champignons" srcset="">
    <img class="bandeau-img" src="/images/crepes.png" alt="Crêpes - Galettes" srcset="">
</section>

</main>
<footer>
<div class="footer">
<p>Copyright © 2024 Le Cabas Briéron</p>
</div>
</footer>
</body>
</html>