<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="./css/fonts.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff"> 
    <title>Le CABAS Briéron</title>
</head>
<body>
    <header>
       <div class="content-header">                
               <figure class="logo-header">
                <img class="logo" src="/images/CABAS Brieron logo.png" alt="Logo Le CABAS Briéron" srcset="">
               </figure>
               <div class="content-title">
                   <p class="title">Le CABAS Briéron</p>
                   <p class="subtitle">Collectif d'Achats Biologiques Alternatifs et Solidaires</p>
                </div>  
        </div>
        <div class="nav">
            <a class="button-header" href="/">Accueil</a>
            <a class="button-header" href="/places"> Les Permanences</a>
            <a class="button-header" href="/producteurs"> Les Producteurs</a>
            <a class="button-header" href="/permanences"> Les Permanences</a>
        </div>
        <img class="top-img" src="/images/Bandeau-legumes-1024x270.png" alt="Logo Le CABAS Briéron" srcset="">       

    </header>
<main class="container">