<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.css" />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.Default.css" />
    <title>Le CABAS Briéron</title>
</head>
<body>
    <header>
        <div class="header-content">
            <a href="/" alt="Accueil">         
               <figure class="logo-header">
                <img class="logo" src="/images/CABAS Brieron logo.png" alt="Logo Le CABAS Briéron" srcset="">
               </figure>
            </a>
            <!-- Le menu n'est visible qu'au format desktop -->
            <nav class="nav-menu" aria-label="header navigation">
                <!-- Notre liste comprenant notre menu -->
                <ul role="menu" aria-labelledby="menubutton">
                    <!-- Attention à bien mettre les liens dans chaque élément <li> et non l'inverse -->
                    <li role="menuitem">
                        <a class="nav-text" href="https://cagette.cabasbrieron.fr/"> CAGETTEPEI</a>
                    </li>
                    <li role="menuitem">
                        <a class="nav-text" href="/contact"> NOUS CONTACTER</a>
                    </li>
                </ul>
            </nav>
            <div class="nav">
                <!-- <a class="nav-text" href="/">ACCUEIL</a> -->
                <!-- <img class="cagette-logo" src="/images/cagettePei-logo.jpg" alt="CagettePei"> -->
                <a class="nav-text" href="https://cagette.cabasbrieron.fr/"> CAGETTEPEI</a>
                <a class="nav-text" href="/contact"> NOUS CONTACTER</a>
            </div>
        </div>
</header>