<%- include('partials/header') %>
<main>     
    <section class="fonctionnement">
        <h1>Le CABAS Briéron, c'est quoi ?</h1>
        <div class="fonctionnement_container">
            <div class="fonctionnement_content">
            <p class="fonctionnement_txt">
                <span>Le C.A.B.A.S. (Collectif d’Achats Biologiques Alternatifs et Solidaires)</span> est un groupement d’achat, destiné à approvisionner ses membres en produits issus d’une production éthique, biologique et/ou locale.
                Le siège social de l’association est situé à La Chapelle des Marais sur la partie nord du marais de Brière en Loire Atlantique.
            </p>
            <p class="fonctionnement_txt">
                Afin de limiter le nombre d’adhérents
                et pour rester en cohérence avec l’idée de proximité de l’association,
                les membres doivent résider à La Chapelle des Marais,
                Herbignac ou dans une commune limitrophe.
            </p>
            <img src="/images/Perimetre2.png" alt="périmètre du CABAS" srcset="">
            </div>
            <div class="fonctionnement_content">
            <ul class="fonctionnement_txt">
                <li>Pour promouvoir la production locale.</li>
                <li>Pour consommer de bons produits
                (biologiques si possible mais pas obligatoirement).</li>
                <li>Pour choisir des producteurs respectueux d’une éthique
                économique, sociale et environnementale.</li>
                <li>Pour favoriser les emplois locaux en fonctionnant
                avec les producteurs locaux.</li>
                <li>Pour rendre accessible (en terme de temps et d’argent)
                ce type de consommation par le regroupement des achats.</li>
            </ul>
            <img src="/images/produits.png" alt="produits du CABAS" srcset="">
            </div>
        </div>
    </section>
<%- include('partials/footer') %>

