<%- include('partials/header') %>

<section class="container">
    <div class="contact-header">
        <h1>Contactez-nous...</h1>
    </div>     
    <div class="contact-content">  
        <div class="contact-txt">      
            <p> Vous pouvez venir rencontrer les adhérents du Cabas Briéron
            le vendredi soir de 18h30 à 20h00
            à la Chaumière du Patrimoine située
            1 rue de Coilly à Mayun en La Chapelle des Marais.
            </p>
        </div>
    </div>
    <div class="content-form">
        <p> Vous pouvez aussi nous laisser un message
            via le formulaire ci-dessous.
            Nous vous répondrons dès que possible.
        </p>
        <form action="/sendMail" method="post" class="form-contact">
           <input type="text" name="firstName" id="firstName" placeholder="Prénom"/>
           <input type="text" name="lastName" id="lastName" placeholder="Nom"/>
           <input type="email" name="email" id="email" placeholder="email"/>
           <textarea name="message" rows="10" cols="50" placeholder="Votre message"></textarea>
           <input type="submit" id="submit" value="Envoyer !" />
        </form>
    </div>
</section>


<%- include('partials/footer') %>
