<%- include('partials/header') %>

        <div class="prez">
            <div class="prez-content-left">
            <h1>
                Présentation
            </h1>
            <p>
                Tous les vendredis de 18h30 à 20h00, la Chaumière du Patrimoine à La Chapelle des Marais s’anime.
                Tels des abeilles autour de leur ruche, les adhérents du Cabas Briéron vont et viennent.
                L’un apporte des légumes, un autre des poulets, d’autres encore des bouteilles ou de l’épicerie.
                Ainsi, pendant une heure et demi les produits sont répartis et chacun s’en retourne avec ce qu’il avait commandé
                la semaine précédente.
            </p>
            <img class="content-img"src="/images/produits.png" alt="Périmetre du CABAS" srcset="">       

            <h2>
                Le Cabas Briéron c’est quoi ?
            </h2>
            <p>
                Le C.A.B.A.S. (Collectif d’Achats Biologiques Alternatifs et Solidaires) est un groupement d’achat, destiné à approvisionner ses membres en produits issus d’une production éthique, biologique et/ou locale. Le siège social de l’association est situé à La Chapelle des Marais sur la partie nord du marais de Brière en Loire Atlantique.
            </p>
            <p>
                Afin de limiter le nombre d’adhérents et pour rester en cohérence avec l’idée de proximité de l’association, les membres doivent résider à La Chapelle des Marais, Herbignac ou dans une commune limitrophe.
            </p>
            </div>
            <div class="prez-content-right">
                <img class="content-img" src="/images/Perimetre2.png" alt="Périmetre du CABAS" srcset="">       
                <h2>
                    Le Cabas Briéron, pourquoi ?
                </h2>
                <ul>
                    <li>Pour promouvoir la production locale.</li>
                    <li>Pour consommer de bons produits
                    (biologiques si possible mais pas obligatoirement).</li>
                    <li>Pour choisir des producteurs respectueux d’une éthique
                    économique, sociale et environnementale.</li>
                    <li>Pour favoriser les emplois locaux en fonctionnant
                    avec les producteurs locaux.</li>
                    <li>Pour rendre accessible (en terme de temps et d’argent)
                    ce type de consommation par le regroupement des achats.</li>
                </ul>
            </div>
        </div>
        <div class="prez">
            <div class="prez-content-left">
            <h1>
                Les producteurs
            </h1>
            <h2>
                Critères de choix
            </h2>
            <p>
                Les producteurs et fournisseurs du Cabas sont choisis en fonction :
            </p>
            <ul>
                <li>de leur proximité géographique,</li>
                <li>de la qualité de leurs produits 
                    (production en agriculture biologique ou non mais toujours respectueuse de l’environnement 
                    et de la santé des consommateurs),</li>
                    <li>et du respect d’une éthique économique, sociale et environnementale.</li>
                    <li>Nous souhaitons proposer aux adhérents
                        des prix justes pour que les produits soient accessibles à tous,</li>
                        <li>Enfin un critère de « choix » non négligeable : 
                            tous nos producteurs et/ou fournisseurs sont sympas !</li>
            </ul>
            <h2>
                            Les Produits
            </h2>
            <p>
                            Une quarantaine de producteurs fournissent les adhérents en différentes catégories de produits:
            </p>
            <ul>
                            <li>Fruits et légumes</li>
                            <li>Produits laitiers, oeufs</li>
                            <li>Viande</li>
                            <li>Poisson</li>
                            <li>Epicerie, pain</li>
                            <li>Boissons</li>
                            <li>Produits d’hygiène, etc...</li>
                            
                            
            </ul>
            </div>
            <div class="prez-content-right">
                <div class="content-vignette">
                    <img class="vignette" src="/images/Legumes.png" alt="Panier de légumes" srcset="">
                    <img class="vignette" src="/images/lait.png" alt="Oeuf Fromage Lait" srcset="">
                    <img class="vignette" src="/images/Viande.png" alt="Viande de boeuf" srcset="">
                    <img class="vignette" src="/images/Bio.png" alt="Enseigne Bio Brière" srcset="">
                    <img class="vignette" src="/images/Poissons.png" alt="Poissons frais" srcset="">
                    <img class="vignette" src="/images/Miel.png" alt="Bocaux de miel" srcset="">
                    <img class="vignette" src="/images/champignons.png" alt="Champignons frais" srcset="">
                    <img class="vignette" src="/images/Agrumes.png" alt="Orange" srcset="">
                    <img class="vignette" src="/images/Crepes-galettes.png" alt="Crêpes" srcset="">
                </div>
            </div>
        </div>

<%- include('partials/footer') %>
