<%- include('partials/header') %>

<main>
    <section class="container">
        <section class="cartouches">
            <figure class="info-big">
                <img src="/images/panier.png" alt="Chaumière du patrimoine">
            </figure>
            <div class="info-small-container">                
                    <a class="link" href="/about">
                        <button class="action-button what">
                            LE CABAS, C'EST QUOI ?
                        </button>
                    </a>                                    
                    <a class="link" href="/vendors">
                        <button class="action-button vendor">
                            NOS PRODUCTEURS
                        </button>
                    </a>                                
                    <a class="link" href="/where">
                        <button class="action-button event">
                            OÙ NOUS TROUVER ?
                        </button>
                    </a>
            </div> 
        </section>
            <div class="prez">
                <div class="paragraphe">
                    <p><span>Tous les vendredis de 18h30 à 20h00,</span> la Chaumière du Patrimoine à La Chapelle des Marais s’anime.
                    Tels des abeilles autour de leur ruche, les adhérents du <span>CABAS Briéron</span> vont et viennent.</p>
                </div>
                <div class="paragraphe">
                    <p>L’un apporte des <em>légumes</em>, un autre des poulets, d’autres encore des bouteilles ou de l’épicerie.</p>
                    <p>Ainsi, pendant une heure et demi les produits sont répartis et chacun s’en retourne </p>
                    <p>avec ce qu’il avait commandé la semaine précédente.</p>
                </div>
            </div>
    </section>
<%- include('partials/footer') %>
