<%- include('partials/header') %>

<main>
    <div class="vendors_container">
        <h1>
            Nos producteurs
        </h1>
        <div class="vendors">
        <% for(const vendor of vendors) {%>
            <div class="article">   
                <p class="title-article"><%= vendor.name%></p>
                <p class="txt-article"><%= vendor.city.toUpperCase()%></p>
            </div>
        <%}%>
        </div>
    </div>   

<%- include('partials/footer') %>
